<div class="container-fluid">
  <div class="row landingBanner">
    <div class="text-center">
      <a href="/#/register"><button id="getStarted" name="getStarted" class="btn btn-primary btn-lg">Get Started Today!</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div id="myCarousel" class="col-md-6 carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../images/testimonials/jackie.jpg" class="testimonialImg" alt="Chania">
        </div>

        <div class="item">
          <img src="../images/testimonials/jason.jpg" class="testimonialImg" alt="Chania">
        </div>

        <div class="item">
          <img src="../images/testimonials/jesse.jpg" class="testimonialImg" alt="Flower">
        </div>

        <div class="item">
          <img src="../images/testimonials/louisa.jpg" class="testimonialImg" alt="Flower">
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
