<div class="container-fluid">
  <div class="row">
    <!--Begin member listing-->
    <div class="col-md-4" style="border:solid black 1px">
      <table style="width:100%">
        <tr>
          <td>{{greeting}}</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
      </table>
    </div>
    <!--Begin member view area-->
    <div class=" membersBanner col-md-8">

    </div>
  </div>
</div>